@{
    ViewBag.Title = "ZhiRuo";
}

<div class="jumbotron container">
    <div class="row">
        <div class="col-md-4 col-md-push-1"><h1>峨眉芷若</h1><div style="font-size:30px"> @DateTime.Now.ToLocalTime().ToString("yyyy/MM/dd HH:mm:ss")</div></div>
        <div class="col-md-4 col-md-push-2"><img src="~/Images/zhiruo.jpg" /></div>      
    </div>
</div>

<div class="row">
   
</div>